@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

#root {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.marginLeftRight {
    width: 95%;
    margin: 0 auto;
}

.imageDescription {
    padding-top: 1em;
    height: 6em;
    line-height: 1.65em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 1.65em;
    color: #121212;
    font-size: 1.2rem;
}

.Image__title {
    font-size: 3.7rem;
    font-weight: 100;
    padding-top: 0.5em;
    letter-spacing: 0.04em;
}

.switch__ImageInfo__button {
    padding: 1.2em 3.2em;
    margin-top: 2em;
    font-weight: 100;
    background-color: white;
    border: 0.1em solid black;
}
