header {
    border-bottom: 1px solid lightgray;
}
.header__contains {
    position: relative;
    padding: 1.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__options > ul {
    gap: 2em;
    display: flex;
}

.btn__design {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 100;
    text-decoration: none;
}
.btn__design:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: 300ms;
}
.nav__dropdown {
    display: none;
    position: absolute;
    padding-top: 3.1em;
    justify-content: space-evenly;
}
.nav__option:hover .nav__dropdown {
    display: block;
}

.nav__drowdown__content {
    list-style: none;
    cursor: pointer;
}
.nav__drowdown__content + .nav__drowdown__content {
    padding-top: 1em;
}
.nav__dropdown > ul {
    background-color: rgb(255, 255, 255);
    padding: 2em;
    width: 290px;
    border: 1px solid lightgray;
}
