.projectShowcase {
    margin: 4em 0;
}

.portfolio__card:hover {
    color: white;
    background-color: white;
    background: white;
}

.portfolio__card {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
